


<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="TemplateMo">
    
    <!-- Styles -->
    <partial name="Partials/_Styles" />

</head>

<body>

    <!-- ***** Preloader Start ***** -->
    <div id="preloader">
        <div class="jumper">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>
    <!-- ***** Preloader End ***** -->



    <!-- Header -->
    <partial name="Partials/_Header" />

    <!-- Page Content -->




    @RenderBody()


    <!-- Footer -->
    <partial name="Partials/_Footer" />


    <!-- Scripts -->
    <partial name="Partials/_Scripts" />

</body>

@await RenderSectionAsync("Scripts", false)

</html>