
<!DOCTYPE html>
<html lang="fa" dir="rtl">
   <head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="stylesheet" href="~/SiteTemplate/css/bootstrap.css">
      <link rel="stylesheet" href="~/SiteTemplate/css/bootstrap-icons.css">
      <link rel="stylesheet" href="~/SiteTemplate/css/owl.carousel.css">
      <link rel="stylesheet" href="~/SiteTemplate/css/owl.theme.default.css">
      <link rel="stylesheet" href="~/SiteTemplate/style.css">
      <title>قالب وبلاگ سئو 90</title>
   </head>
   <body>


       <!-- main header -->
       <partial name="Partials/_MainHeader" />



       <!-- main content -->
       @RenderBody()



      <!-- footer -->  
      <partial name="Partials/_Footer" />

      <!-- scroll top tool -->
      <div class="scroll_top">
         <span class="btn btn-info text-center text-light">
         <i class="bi bi-arrow-up"></i>
         </span>
      </div>

   </body>

   <!-- scripts -->
   <partial name = "Partials/_Scripts" />


</html>