

<!DOCTYPE html>
<html dir="rtl" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="~/AdminTemplate/assets/images/favicon.png">
    <title>Nice admin Template - The Ultimate Multipurpose admin template</title>
    <!-- Custom CSS -->
    <link href="~/AdminTemplate/assets/libs/morris.js/morris.css" rel="stylesheet">
    <link href="~/AdminTemplate/assets/libs/chartist/dist/chartist.min.css" rel="stylesheet">
    <link href="~/AdminTemplate/assets/extra-libs/c3/c3.min.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="~/AdminTemplate/dist/css/style.min.css" rel="stylesheet">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>

    <!-- preloader -->
    <div class="preloader">
        <div class="lds-ripple">
            <div class="lds-pos"></div>
            <div class="lds-pos"></div>
        </div>
    </div>

    <!-- main wrapper -->
    <div id="main-wrapper">

        <!-- main header -->
        <partial name="Partials/_MainHeader" />

        <!-- right sidebar -->
        <partial name="Partials/_SideBar" />


        <!-- Page wrapper  -->
        <div class="page-wrapper">

            <!-- roadmap -->
            <div class="page-breadcrumb">
                <div class="row">
                    <div class="col-5 align-self-center">
                        <h4 class="page-title">Dashboard</h4>
                    </div>
                    <div class="col-7 align-self-center">
                        <div class="d-flex align-items-center justify-content-end">
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item">
                                        <a href="#">Home</a>
                                    </li>
                                    <li class="breadcrumb-item active" aria-current="page">Dashboard</li>
                                </ol>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>

            <!-- main container (dynamnic data) -->
            <div class="container-fluid">
                @RenderBody()
            </div>

            <!-- footer -->
            <partial name="Partials/_Footer" />

        </div>

    </div>


    <!-- customizer -->
    @*<partial name="Partials/_Customizer" />*@

    @await RenderSectionAsync("Scripts", false);
    @await RenderSectionAsync("Modal", false);


</body>


<!-- js files -->
<partial name="Partials/_Scripts" />


</html>